@font-face {
  font-family:"Roboto-Light";
   src: url(../fonts/Roboto-Light.ttf);
   font-weight: normal;
   font-style: normal;
 }
 @font-face {
     font-family: "Roboto-Regular";
     src:url(../fonts/Roboto-Regular.ttf);
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: "Roboto-Bold";
     src: url(../fonts/Roboto-Bold.ttf);
     font-weight: normal;
     font-style: normal;
 }
 @font-face {
     font-family: "Gilroy";
     src: url(../fonts/Gilroyextrabold.ttf);
     font-weight: normal;
 }
