
html {
    font-size: 16px;
}
body {
    font-family:"Roboto","Gilroy","Arial", sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: "Gilroy";
}
h2, p {
    font-family: "Roboto-Light";
}

h5, h4 {
    font-family: "Roboto-Regular";
}
header {
    max-width: 1900px;
    background: url(../img/header.jpg) no-repeat center;
    background-size: cover;
    padding: 4.3rem 9rem;

}
.header-wrap {
    display: flex;
    align-items: center;
   justify-content: space-between;

}
@media screen and (max-width:865px) {
    .header-wrap {
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}
.main-menu {
    list-style: none;
    display: flex;

}
.menu-items {
    padding: 0.625rem 0.625rem 0.625rem 1.875rem;
}
.menu-items:hover {
    outline: 2px solid #ffffff;
    cursor: pointer;
}
.main-menu, .lang-choice {
    color: #ffffff;
    font-size: 1.27rem;
    line-height: 1.25rem;
}
.phone-number {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.27rem;
    line-height: 1.25rem;
    font-weight: bold;
}
.lang-choice {
    color: #ffffff;
    font-family: "Roboto-Light";
    font-size: 1.375rem;
    margin-right: 2.6875rem;
    padding: 1rem;
}
@media screen and (max-width:865px) {
    .lang-choice {
        padding-left: 4rem;
    }
}
.lang {
    padding: 1rem;
    color: #777777;
}
.lang:hover {
    outline: 2px solid #ffffff;
    cursor: pointer;
    color: #ffffff;
}
@media screen and (max-width:865px) {
    .promo {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }
}
.promo-header {
    font-size: 5.62rem;
    line-height: 6.87rem;
    text-transform: uppercase;
    color: #ffffff;
}
@media screen and (max-width:865px) {
    .promo-header {
        font-size: 2.5rem;
        line-height: 5rem;
        width: 100%;
    }
}
.promo-scroll {
    font-size: 2.125rem;
    line-height: 3.43rem;
    color: #ffffff;
}
@media screen and (max-width:865px) {
    .promo-scroll {
        font-size: 1.25rem;
    }
}
header .scroll-name {
    color: #ffffff;
    margin-left: 46%;
}

.about-us {
    display: flex;
    flex-wrap: wrap;
}
.produce-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media screen and (max-width: 700px){
    .produce-list {
        flex-direction: column;
        align-items: center;
    }
}
.about-title {
    margin-left: 45%;
}
.produce-items {
    list-style: none;
    width: 31.5789474%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: baseline;
}
@media screen and (max-width: 700px) {
    .produce-items {
        width: 95%;
        justify-content: space-between;
        margin-top: 3rem;
    }
}
.title-produce {
    font-size: 1.187rem;
    line-height: 3.2rem;
    position: relative;
}
.about-produce {
    font-family: "Roboto-Light";
    font-size: 0.875rem;
    line-height: 1.75rem;

}
.title-produce::before {
    content: "";
    position: absolute;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    bottom: 67px;
    left: 0;
}
.analytics::before {
    width: 65px;
    height: 65px;
    background-position: -86px 0px ;
}
.strategy::before {
    width: 65px;
    height: 65px;
    background-position: -151px -3px;
}
.smm::before {
    width: 65px;
    height: 65px;
    background-position: -197px -97px;
}
.technology::before {
    width: 65px;
    height: 65px;
    background-position: -6px -0px;
}
.design::before {
    width: 65px;
    height: 65px;
    background-position: -264px -97px;
}

/*.container {
    max-width: 118.75rem;
    margin: 0 auto;
}
@media (max-width:55em) {
    .container {
        width: 100%;
    }
}
                    /*HEADER*

header {
    max-width: 100%;
    min-height: 65rem;
    background-size: 100%;
    background-color: #505050;
    background: url(../img/header.jpg) no-repeat center;
    color: #ffffff;
    position: relative;
}



.header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;

}
@media (max-width:57.125em) {
    .header-wrap {
        flex-direction: column;
        align-items: center;

    }

}
.logo {
    font-size: 4.8rem;
    color: #ffffff;
    font-family: "Gilroy";
    margin-top: 7rem;
    margin-left: 4rem;
}
.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: "Roboto-Light";
}
.menu-items {
    list-style: none;
    padding:0.6rem 0.6rem 0.6rem 1.8rem;
}
.menu-items:hover {
    outline: 2px solid #ffffff;
    cursor: pointer;
}
.menu-link {
    color: #ffffff;
    font-size: 1.37rem;
    font-weight: 1.25rem;
}
.phone {
    padding-bottom: 1rem;
}
.phone-number {
    font-family: "Roboto-Bold";
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
}
 .lang-choice {
     color: #ffffff;
     font-family: "Roboto-Light";
     font-size: 1.37rem;
     margin-right: 2.68rem;
     padding: 1rem;
 }
 .lang {
     padding: 1rem;
     color: #777777;
 }
 .lang:hover {
     outline: 2px solid #ffffff;
     cursor: pointer;
     color: #ffffff;
 }
 .promo {
/*      margin-left: 8.75rem; *
     display:flex;
     flex-direction: column;
     align-content: space-between;
 }
@media screen and (max-width: 55.125rem){
    .promo {
        margin-left: 4rem;
    }
}
.promo-header {
    font-size: 5.62rem;


    line-height: 6.87rem;
    text-transform: uppercase;
/*     margin: 8.12rem 750px 60px 0; *
}
.promo-scroll {
    font-size: 2.125rem;
    line-height: 3.43rem;
/*     margin-right: 43.75rem; *
}
@media (max-width:43.75rem)  {
    .promo-scroll {
        margin: 0;
    }
    .scroll-name {
        margin: 0;
    }
}
.scroll-name {
    font-family: "Roboto-Light";
    font-size: 22px;
    font-weight: 20px;
    color: #8d8c8c;
    display:block;
/*     margin-left: 47%; *
    margin-top: 200px;
}
.header::after {
     content: "";
    position: absolute;
    background-color: #817c7b;
    width: 2px;
    height: 67px;
    left: 50%;
    bottom: 0;
}*/
