
html {
    font-size: 10px;
}
body {
    font-family:"Roboto","Gilroy","Arial", sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: "Gilroy";
}
h2 {
    font-family: "Roboto-Light";
}
h5 {
    font-family: "Roboto-Regular";
}
p {
    font-family: "Roboto-Light";
}
.container {
    max-width: 1900px;
    margin: 0 auto;
}
                    /*HEADER*/
header {
    width: 100%;
    height: 963px;
    background-color: #505050;
    background: url(../img/header.jpg) no-repeat center;
    color: #ffffff;
    position: relative;
}
.header-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;

}
.logo {
    font-size: 4.8rem;
    color: #ffffff;
    font-family: "Gilroy";
    margin-top: 7rem;
    margin-left: 4rem;
}
.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-family: "Roboto-Light";
}
.menu-items {
    padding: 0.625rem 0.625rem 0.625rem 1.875rem;
}
.menu-items:hover {
    outline: 2px solid #ffffff;
    cursor: pointer;
}
.menu-link {
    color: #ffffff;
    font-size: 22px;
    font-weight: 20px
}
.phone {
    padding-bottom: 15px;
}
.phone-number {
    font-family: "Roboto-Bold";
    color: #ffffff;
    font-size: 22px;
    text-decoration: none;
}
 .lang-choice {
     color: #ffffff;
     font-family: "Roboto-Light";
     font-size: 22px;
     margin-right: 43px;
     padding: 15px;
 }
 .lang {
     padding: 1rem;
     color: #777777;
 }
 .lang:hover {
     outline: 2px solid #ffffff;
     cursor: pointer;
     color: #ffffff;
 }
 .promo {
     margin-left: 140px;
 }
.promo-header {
    font-size: 90px;
    line-height: 110px;
    text-transform: uppercase;
    margin: 130px 750px 60px 0;
}
.promo-scroll {
    font-size: 34px;
    line-height: 55px;
    margin-right: 700px;
}
.scroll-name {
    font-family: "Roboto-Light";
    font-size: 22px;
    font-weight: 20px;
    color: #8d8c8c;
    display:block;
    margin-left: 47%;
    margin-top: 200px;
}
.header::after {
    content: "";
    position: absolute;
    background-color: #817c7b;
    width: 2px;
    height: 67px;
    left: 50%;
    bottom: 0;
}

/*MAIN*/
.about-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: url(../img/back_wrap.png) no-repeat top;
}
.produce-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style: none;
    width: 31.5789474%;
    margin-bottom: 80px;
}
.produce-items:nth-child(4) {
    margin-left: 260px;
}
.produce-items:last-child {
    margin-right: 260px;
}
.about-title {
    font-size: 48px;
    line-height: 5.5rem;
    margin-left: 40%;
}
.produce-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 4rem;
}
.title-produce {
    font-size: 19px;
    line-height: 3.2rem;
    display: block;
    position: relative;
}

.title-produce::before {
    content: "";
    position: absolute;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    bottom: 67px;
    left: 0;
}
.analytics::before {
    width: 65px;
    height: 65px;
    background-position: -86px 0px ;
}
.strategy::before {
    width: 65px;
    height: 65px;
    background-position: -151px -3px;
}
.smm::before {
    width: 65px;
    height: 65px;
    background-position: -197px -97px;
}
.technology::before {
    width: 65px;
    height: 65px;
    background-position: -6px -0px;
}
.design::before {
    width: 65px;
    height: 65px;
    background-position: -264px -97px;
}
.about-produce {
    font-size: 14px;
    line-height: 28px;
    padding-right: 100px;
}
.pro {
    position: relative;
    padding-bottom: 60px;
}
.pro::after {
    content: "";
    position: absolute;
    background-color: #d4d4d4;
    width: 2px;
    height: 42px;
    left: 5%;
    bottom: 0;
}

/*PROJECTS*/
.about-project {
    padding: 30px 10px 20px 10px;
    margin-top: 200px;
}
.name-company {
    font-family: "Gilroy";
    font-size: 48px;
    font-weight: 110px;
    color: #000000;
}
.content-project {
    font-size: 24px;
    font-weight: 34px;
    color: #000000;
    list-style: none;
}
.project-review {
    color: #000000;
    background-color: inherit;
    font-size: 22px;
    line-height: 20px;
    color: #000000;
    text-decoration: none;
    border: 2px solid #000000;
    outline: none;
    padding: 20px 55px 25px 25px;
    margin-top: 70px;
    cursor: pointer;
}
.project-review:hover {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #000000;
}
.project{
    height: 860px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.demo-img {
    position: absolute;
}
 .gazprom {
    background-color: #bdcbd7;
}
.gazprom .about-project{
    margin-left: auto;
    margin-right: 140px;
}
.gazprom .demo-img {
    background-image: url(../img/site.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 66.2105263%;
    height: 1000px;
    top:100px;
    z-index: 100;
}
.tinkoff {
    background-color: #fad200;
    height: 900px;

}
.tinkoff .demo-img {
    background-image: url(../img/Shadow.png) ;
    background-position: center;
    background-repeat: no-repeat;
    bottom: -530px;
    width: 100%;
    height: 1400px;
    z-index: 150;

}
.tinkoff .about-project {
    margin-left: 250px;

}
.adidas {
    background-color: #fefefe;


}
.adidas .demo-img {
    width: 100%;
    height: 720px;
    background: url(../img/monitor.jpg) no-repeat center;

}
.adidas .about-project {
    margin-left: auto;
    margin-right: 200px;
    z-index: 50;
}

.project-link-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url(../img/view_project.jpg) no-repeat, #303030;
    height: 214px;
}
.projects-link {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 22px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
    outline: 2px solid #ffffff;
    padding: 20px 55px 25px 25px;

}
.projects-link:hover {
    background-color: #000000;
    outline: 2px solid #ffffff;


}
/*WORTH*/
.worth-wrap {
    background-color: #f1f2f2;
    height: 900px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
}
.worth {
    width: 26.3157835%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 100px;
    padding-left: 19px;
    padding-bottom: 50px;

}
.title-worth {
    font-family: "Gilroy";
    font-size: 48px;
    line-height: 55px;
    margin-left: 40%;
    margin-top: 135px;
    margin-bottom: 145px;
    font-weight: bold;
    z-index: 2;

}
.num-img {
    background-image: url(../img/six.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    position: absolute;
    top: -11px;
    left: 34%;
    width: 253px;
    height: 280px;
}
.name-worth {
    font-size: 19px;
    line-height: 32px;
    padding-left: 65px;
    position: relative;

}
.name-worth::before {
    content: "";
    width: 45px;
    height: 4px;
    background-color: #e74c3c;
    position: absolute;
    top: 14px;
    left: 0;

 }
.text-worth {
    font-size: 17px;
    line-height: 32px;
}
.title-clients-block {
    font-size: 48px;
    line-height: 110px;
    margin-left: 40%;
}
.clients-logo {
    background: url(../img/clients-logo.jpg) no-repeat center;
    width: 100%;
    height: 920px;
}
.promo-text {
    font-size: 34px;
    line-height: 55px;
    color: #000000;
    margin-top: 140px;
    margin-bottom: 140px;
    margin-left: 30%;
    text-align: center;
    width: 48.421052%;
    position: relative;
}
.promo-text::before,
.promo-text::after {
    content: "";
    width: 45px;
    height: 4px;
    background-color: #e74c3c;
    position: absolute;
}
.promo-text::before {
    top: 201px;
    left:410px;
}
.promo-text::after {
    bottom: 201px;
    left: 410px;
}
/*REVIEWS*/
.reviews {
    margin-top: 110px;
    background: url(../img/back_client.png) no-repeat center;
}
.name-client {
    font-family: "Roboto-Regular";
    position: relative;
    float: right;
    margin-top: 200px;
    position: relative;
}
.name {
    font-size: 19px;
    line-height: 32px;
}
.position {
    font-size: 17px;
    line-height: 32px;
}
video {
    width: 51.578947%;
}

.forward::before {
    content: "";
    top:-10px;
    right: -60px;
    width: 3px;
    height: 58px;
    background-color: #e6e6e6;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
}
.forward::after {
    content: "";
    top: 40px;
    right: -60px;
    width: 3px;
    height: 58px;
    background-color: #e6e6e6;
    border-radius: 6px;
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
    position: absolute;
    cursor: pointer;
}
/*FOOTER*/
.wrap-contacts {
    height: 583px;
    margin-top: 50px;
    padding-top: 100px;
    background: url(../img/back_footer.png) no-repeat center, url(../img/footer.jpg) no-repeat center;
    font-size: 48px;
    line-height: 110px;
    color: #ffffff;
    display: block;
    text-align: center;
}

.email {
    font-size: 30px;
}
.footer-social {
    display: inline-block;
    text-align: center;
    background-color: #222222;
    padding-top: 53px;
    box-sizing: border-box;
    height: 170px;
    width: 100%;
    margin-top: -50px;
 }
.social-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    height: 75px;
    position: relative;
    vertical-align: top;
    width: 80px;
}
.social-btn:hover {
    background-image: -webkit-gradient(#29b0f6, #56d684);
    background-image: linear-gradient(#29b0f6, #56d684);
      background-image: -webkit-linear-gradient(#29b0f6, #56d684);
    border-radius: 50%;
}
.social-btn::before {
    background-image: url("../img/sprite.png") ;
    background-repeat: no-repeat;
    content: "";
    height: 85px;
    right: 3px;
    position: absolute;
    top: 0;
    width: 75px;
}
.social-btn-be::before {
    background-position: -9px -83px;
}
.social-btn-db::before {
    background-position: -9px -83px;
}
.social-btn-vk::before {
    background-position: -10px -181px;
}
.social-btn-fb::before {
     background-position: -232px -10px;
}
