
body {
    font-family:"Roboto","Gilroy","Arial", sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}
@font-face {
  font-family:"Roboto","Gilroy","Arial", sans-serif;
   src: url(../fonts/Roboto-Light.ttf);
   src: url(../fonts/Gilroylight.ttf);
 }
.container {
    max-width: 1900px;
    margin: 0 auto;
}
                    /*HEADER*/
header {
    width: 100%;
    height: 963px;
    background-color: #505050;
    background: url(../img/header.jpg) no-repeat center;
    color: #ffffff;
    position: relative;
}
.header-wrap {
    display: flex;
    justify-content: space-around;
    align-items: baseline;

}
.logo {
    font-size: 4.8rem;
    color: #ffffff;
    font-weight: 800;
    margin-top: 7rem;
    margin-left: 4rem;
}
.main-menu {
    display: flex;
    flex-direction: row;

}
.menu-items {
    list-style: none;
    padding: 1rem 1rem 1rem 3rem;
}
.menu-items:hover {
    outline: 2px solid #ffffff;
    cursor: pointer;
}
.menu-link {
    color: #ffffff;
    font-size: 2.2rem;

}
.phone-number {
    color: #ffffff;
    font-size: 2.2rem;
    text-decoration: none;
}
 .lang-choice {
     color: #ffffff;
     font-size: 2.2rem;
     margin-right: 4.3rem;
     padding: 1.5rem;
 }
 .lang {
     padding: 1rem;
     color: #777777;
 }
 .lang:hover {
     outline: 2px solid #ffffff;
     cursor: pointer;
     color: #ffffff;
 }
 .promo {
     margin-left: 5rem;
     font-family: "Roboto";
     font-weight: 100;
 }
.promo-header {
    font-size: 9rem;
    line-height: 11rem;
    margin: 0;
}
.promo-scroll {
    font-size: 3.4rem;
    line-height: 5.5rem;
    margin: 0;
}
.scroll-name {
    font-size: 2.2rem;
    font-weight: 2rem;
    color: #8d8c8c;
    display:block;
    margin-left: 45%;
    margin-top: 6rem;
}
.header::after {
    content: "";
    position: absolute;
    background-color: #817c7b;
    width: 2px;
    height: 67px;
    left: 50%;
    bottom: 0;
}

/*MAIN*/
.about-us {
    display: flex;
    flex-wrap: wrap;
}
.produce-items {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 31.5789474%;

}
.about-title {
    font-size: 48px;
    line-height: 5.5rem;
    margin-left: 40%;
}
.produce-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 4rem;
}
.title-produce {
    font-size: 19px;
    line-height: 3.2rem;
    display: block;
    position: relative;
}

.title-produce::before {
    content: "";
    position: absolute;
    background-image: url(../img/sprite.png);
    background-repeat: no-repeat;
    bottom: 67px;
    left: 0;
}
.analytics::before {
    width: 65px;
    height: 65px;
    background-position: -86px 0px ;
}
.strategy::before {
    width: 65px;
    height: 65px;
    background-position: -151px -3px;
}
.smm::before {
    width: 65px;
    height: 65px;
    background-position: -197px -97px;
}
.technology::before {
    width: 65px;
    height: 65px;
    background-position: -6px -0px;
}
.design::before {
    width: 65px;
    height: 65px;
    background-position: -264px -97px;
}
.about-produce {
    font-size: 14px;
    line-height: 2.8rem;
    padding-right: 100px;
}

.production,.design {
    margin-top: 4rem;

}
.project {
    position: relative;
}
.project::after {
    content: "";
    position: absolute;
    background-color: #817c7b;
    width: 2px;
    height: 67px;
    left: 50%;
    bottom: 0;
}
/*REVIEWS*/
video {
    width: 51.578947%;
}
